@font-face {
  font-family: 'iconfont';  /* Project id 3301457 */
  src: url('//at.alicdn.com/t/font_3301457_na908kucer.woff2?t=1649073039830') format('woff2'),
       url('//at.alicdn.com/t/font_3301457_na908kucer.woff?t=1649073039830') format('woff'),
       url('//at.alicdn.com/t/font_3301457_na908kucer.ttf?t=1649073039830') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}